
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
    color: #3b3b3b;
}
.comment .comment-arrow {
    border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
    background: none;
}
#header {
    background: black;
}
a {
    color: #FFBF00;
}
a:hover,
a:focus {
    color: #FFBF00;
}
a:active {
    color: #FFBF00;
}
.sidebar .block {
    background-color: #f6f6f2;
    border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
    background: #000000;
}
div#footer-wrapper{
    background-color: black;
}
#footer{
    background-color: black;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
    color: #fffeff;
}
